In [2]:
import numpy as np
import pandas as pd

### Question 1

What's the version of Pandas that you installed?

You can get the version information using the `__version__` field:

```python
pd.__version__

In [49]:
pd.__version__

'2.0.3'

### Getting the data 

For this homework, we'll use the California Housing Prices dataset. Download it from 
[here](https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv).

You can do it with wget:

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
```

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [17]:
!pwd

/Users/isaachurwitz/mlc/2023/homework-1

In [19]:
!wget -P data https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-11 08:22:53--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘data/housing.csv’

housing.csv         100%[===================>]   1.36M  2.62MB/s    in 0.5s

2023-09-11 08:22:54 (2.62 MB/s) - ‘data/housing.csv’ saved [1423529/1423529]

In [21]:
!ls data

housing.csv

In [50]:
df = pd.read_csv('data/housing.csv')

In [51]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

### Question 2

How many columns are in the dataset?

- 10
- 6560
- 10989
- 20640

In [52]:
df.shape[1]

10

answer: there are 10 columns

### Question 3

Which columns in the dataset have missing values?

- `total_rooms`
- `total_bedrooms`
- both of the above
- no empty columns in the dataset

In [53]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

answer: total_bedrooms

### Question 4

How many unique values does the `ocean_proximity` column have?

- 3
- 5
- 7
- 9

In [54]:
df['ocean_proximity'].nunique()

5

answer: 5

### Question 5

What's the average value of the `median_house_value` for the houses located near the bay?

- 49433
- 124805
- 259212
- 380440

In [55]:
df.loc[df['ocean_proximity'] == 'NEAR BAY'].median_house_value.mean()

259212.31179039303

answer: 259212

In [56]:
df.loc[df['ocean_proximity'] == 'NEAR BAY', ['median_house_value']].mean()

median_house_value    259212.31179
dtype: float64

### Question 6

1. Calculate the average of `total_bedrooms` column in the dataset.
2. Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
3. Now, calculate the average of `total_bedrooms` again.
4. Has it changed?

Has it changed?

> Hint: take into account only 3 digits after the decimal point.

- Yes
- No

In [57]:
# avg of total_bedrooms before filling in missing values
avg_total_bedrooms = round(df.total_bedrooms.mean(), 3)
avg_total_bedrooms

537.871

In [58]:
# filling in the missing values with the mean
df['total_bedrooms'] = df['total_bedrooms'].fillna(avg_total_bedrooms)

In [59]:
df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [60]:
updated_avg_total_bedrooms = round(df.total_bedrooms.mean(), 3)
updated_avg_total_bedrooms

537.871

answer: no, it has not changed

### Question 7

1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- -1.4812
- 0.001
- 5.6992
- 23.1233

In [61]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [65]:
df_island = df.loc[df.ocean_proximity == 'ISLAND']
df_island = df_island[['housing_median_age', 'total_rooms', 'total_bedrooms']]

In [69]:
X = df_island.values

In [72]:
XTX = np.dot(X.T, X)
XTX_inverse = np.linalg.inv(XTX)

In [73]:
y = [950, 1300, 800, 1000, 1300]

In [74]:
#  Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`
w = np.dot(np.dot(XTX_inverse, X.T), y)
w

array([23.12330961, -1.48124183,  5.69922946])

In [75]:
w[-1]

5.699229455065565

answer: 5.6992